@import url("./reset.css");

body {
  background: #080808;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.6px;
  line-height: 1.3;
  padding: 0 20px;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  max-width: 100%;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 10%;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  padding: 4px 10px 7px 10px;
  background: #ff8e43;
  font-size: 12px;
  align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  cursor: pointer;
  width: 10px;
  height: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border: #ffffff solid 1px;
  border-radius: 50%;
  touch-action: manipulation;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.completed-checkbox {
  background: #ff8e43;
}

.completed-text {
  text-decoration: line-through;
  opacity: 0.5;
}
